/* super slides */

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.4)
}

.slides-navigation {
    z-index: 6;
}

.slides-navigation .prev,
.slides-navigation .next {
    width: 64px;
    height: 64px;
    background-size: cover;
    background-repeat: no-repeat;
}

.slides-navigation a.prev {
    left: 20px;
    background-image: url(/images/icons/prev.png);
}

.slides-navigation a.next {
    right: 20px;
    background-image: url(/images/icons/next.png);
}

.titleMessage {
    position: absolute;
    width: 100%;
    height: 250px;
    top: 25%;
    z-index: 5;
    text-align: center;
    margin-top: -50px
}

.titleMessage p {
    color: #fff;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    font-weight: 100;
    letter-spacing: 7px
}

.main {
    font-size: 50px
}

.sub {
    font-size: 25px
}

.section {
    padding: 100px 0
}

.profilePhoto {
    max-width: 100%;
}

.blu {
    background-color: #15A8E3;   /* #15A8E3, #0077B5 */
    color: #fff
}

.eduList{
    line-height:200%; /*or whatever height you like*/
}

.logo {
    width: 125px;
    height: 125px;
    margin-bottom: 30px;
}

.linkedin {
    width: 30px;
    height: 30px;
    margin: 20px;
}

.email {
    width: 35px;
    height: 44px;
    margin: 13px;
}

.contactIcons {
    display: flex;
    justify-content: center;
}

.blueLine {
    background-color: #fff
}

a {
    color: #fff;
}

a:hover {
    color: #fff;
    text-decoration: none;
    text-shadow:
		-1px -1px 0 #4682B4,
		1px -1px 0 #4682B4,
		-1px 1px 0 #4682B4,
		1px 1px 0 #4682B4;
}

.vl {
    border-left: 1px solid #333;
    height: 200px;
  }

  #copyright {
      padding: 20px
  }

  .envolopeLink {
      color: #0077B5;
  }

  .envolopeLink:hover {
    color: #0077B5;
}

  .envelope {
      margin: 20px;
  }

  i {
    color: #333
}

.linkdcon {
    width: 50px;
    height: 50px;
    margin: 40px 0
}

.addy {
    margin: 40px 0;
    line-height:200%;
}

.contactE {
    color: black;
}

.contactE:hover {
    color: black;
    text-decoration: none;
}

.divide {
    background-color: #15A8E3
}

#navigation {
    background-color: #15A8E3;
    padding: 5px 10px;
    z-index: 100;
    width: 100%;
    border-bottom: 1px solid #fff;
    box-shadow:0px 3px 0px rgba(0, 0, 0, 0.1);

}

#navigation li {
    padding: 0 10px
}

.logoBar {
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
}

.navbar-brand {
    padding-left: 5px
}

.burger {
    background: url(/images/icons/menu3.png);
    background-size: 100%;
}

.navbar-toggler {
    border: 1px solid #fff
}

.fixedNav #navigation {
    position: fixed;
    top: 0
}

.loader {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
}

.loader .inner {
    width: 100%;
    height: 100%;
    background: url(/images/larios.gif) center center no-repeat;
}

.flags {
    padding-top: 30px
}